* {
  letter-spacing: 0px;
  padding: 0px;
  margin: 0px;

}

body {
  transition: opacity 1s;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.flex{
  display: flex;
  justify-content: center;
}
#app {
  /* background: url(https://c-ssl.duitang.com/uploads/item/201803/13/20180313191049_FsTG5.gif) no-repeat;
    background-size: 100% 100%; */
  /* background: linear-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(222, 222, 255, 0.6) 100%) */
  /* background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(222, 222, 255, 1) 100%) */
}

.el-dropdown-menu {
  height: 50vh;
  overflow: auto;
}

#shareText {
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
}

.stm {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: url(https://c-ssl.duitang.com/uploads/item/201803/13/20180313191049_FsTG5.gif) no-repeat;
  background-size: 100% 100%;
  transform: scaleX(1);
  opacity: 0.8;
}

.cover {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  z-index: 1
}

.el-select-dropdown__wrap {
  height: 80vh;
  bottom: 0px;
}

.el-popover {
  height: 80vh;
  overflow: auto;
}

.c-box {
  width: 100%;
  margin: 0px auto;
  padding: 0px 5px;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;

  .bb-dialog {
    .grade-box {}
  }

  .el-select-dropdown__wrap {
    max-height: 80vh;
  }

  .bb-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 5px;
    box-sizing: border-box;
  }

  .el-progress-bar__outer {
    background-color: rgba(178, 206, 239, 0.3)
  }

  .spanText span {
    height: 18px;
  }

  .bm2 span {
    color: #029299;
  }

  .bm3 {
    color: blue;
  }

  .bm3:after {
    background: blue;
  }

  .bm4 {
    color: rgb(6, 255, 60);
  }

  .el-tag {
    height: 20px;
    line-height: 19px !important;
  }

  .sszk .el-button--primary {
    height: 20px;
    line-height: 0px !important;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .gdk {
    width: 100%;
    flex: 1;
    overflow: auto;
    border: 0px solid #e3e3e3;
    //box-sizing: border-box;
    transition: all 0.5s;
    //padding-top: 10px;
  }

  .spanText {
    position: relative;
    font-size: 18px;
    height: 23px;
    width: 20px;
    margin-bottom: 10px;
    display: flex;
    box-sizing: border-box;
    float: left;
    align-items: center;
    justify-content: center;
    border-width: 1.2px;
  }


  .spanText span {
    height: 38px;
  }

  .spanText:after {
    //content: '';
    width: calc(100% - 0px);
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .bm2:after {
    height: 0px;
    border: 0.4px dashed #029299;
  }

  .bm2 {
    color: #029299;
  }

  .bm3 {
    color: blue;
  }

  .bm3:after {
    background: blue;
    opacity: 1 !important;
    bottom: 0px;
    left: 0px;
  }

  .bm4 {
    color: rgb(6, 255, 60);
  }

  .bm4:after {
    height: 0px;
    opacity: 0;
    border: 1px dashed rgb(6, 255, 60);
  }

  .spanText font {
    position: absolute;
    display: flex;
    color: #c31515;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9px !important;
    width: 11px !important;
    font-weight: bold;
    height: 12px !important;
    left: 20%;
    background: transparent;
    bottom: -12px !important;
    transform: scale(0.9);
  }


  .srk {
    width: 100%;
    height: 30px;
    border: 1px solid #029299;
    border-radius: 20px;
  }

  .srk textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    border: 0px;
    resize: none;
    border: 0px;
    outline: none;
    background: transparent;
  }

  .zq {
    background: #9b9da1;
    color: #333 !important;
  }

  .cw {
    background: #f89693;
    color: rgb(247, 247, 247) !important;
  }

  .sszk {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  #anew {
    max-height: 26px;
    max-width: 26px;
  }

  #anew.el-button--primary {
    height: 20px;
    line-height: 0px !important;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  #anew [class*=" el-icon-"],
  [class^=el-icon-] {
    line-height: 0px !important;
  }

  .el-drawer {
    width: 70% !important;
    outline: none;
  }

  .gdq-drawer .el-drawer__body {
    text-align: center;
  }

  .gdq-drawer .el-drawer__open .el-drawer.rtl {
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
  }

  .jz {
    display: flex;
    justify-content: center;
  }

  .head-box .login-text {
    display: block;
    border: 0x !important;
  }

  .word-box {
    align-items: center;
    margin-top: 7px;
    padding: 0px 8px;
  }

  .u-dialog .el-upload {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .u-dialog .el-upload-list__item .el-icon-close {
    top: 13px;
  }

  .u-dialog .el-dialog--center .el-dialog__body {
    padding: 5px 10px;
    text-align: center;
  }

  .u-dialog .e-ipt {
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  .u-dialog .e-ipt input {
    height: 27px;
  }

  .el-message-box {
    width: 90%;
  }

  .mention * {
    color: #333 !important;
  }

  .mention font {
    opacity: 0;
  }

  .mention *:after {
    border: 0px !important;
    background: transparent;
  }

  .mention .cw {
    color: rgb(247, 247, 247) !important;
  }

  .readTextWay {
    align-items: center;
    justify-content: inherit;
    margin-top: 9px;
    color: #333;
    padding: 0px 8px;
  }

  .readTextWay .title {
    font-size: 14px;
    margin-right: 11px;
    margin-top: -2px;
  }

  .gdq-btn {
    margin: 3px auto;
    height: 10px;
    line-height: 0px;
    width: calc(100% - 40px)
  }


  .cw * {
    color: rgb(247, 247, 247) !important;
  }

  .el-color-picker__trigger {
    width: 29px;
    height: 29px;
  }

  .el-color-picker__panel {
    transform: scale(0.68) translate(-50%, -50%);
    top: 50% !important;
    left: 50% !important;
  }
}

.el-message-box {
  width: 80% !important;
}
