<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>魔鹤跟打器</title>
	<meta name="Description" content="" />
	<meta name="Keywords" content="" />
	<meta http-equiv="Pragma" content="no-cache" />
	<script src="https://cdn.bootcss.com/vConsole/3.2.2/vconsole.min.js"></script>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="./element-ui/index.css">
	<link rel="stylesheet" href="./css/index.css">
</head>

<body style="opacity: 0;">
	<input type="text" id="shareText" />
	<div class="stm"></div>
	<div id="app" :style="{background:'linear-gradient('+pageStyle.top+' 0%, '+pageStyle.bottom+' 100%)'}">
		<div class="c-box" >
			<div class="sszk" style="width:100%">
				<el-tag>第{{textNoom}}段</el-tag>
				<el-tag>{{sszk.sd}}</el-tag>
				<el-tag>{{sszk.jj}}</el-tag>
				<el-tag>{{sszk.mc}}</el-tag>
				<el-switch v-model="isShow.isWordHint" active-color="#13ce66" inactive-color="#dd1b54">
				</el-switch>
			</div>
			<div class="sszk" style="width:100%">
				<el-tag>理论码长：{{llmc}}</el-tag>
				<el-tag>{{textarea.length}}/{{withStr.length}}</el-tag>
				<el-tag>{{currentWordHint}}</el-tag>
				<!-- <el-tag>{{sszk.backSpace}}</el-tag> -->
			</div>
			
			<div class="sszk" style="width:100%">
				<el-button type="primary" id="anew" icon="el-icon-s-operation" @click="isShow.rigDrawer=true"></el-button>
				<el-button type="primary" @click="sendArticle()">读文</el-button>
				<el-button type="primary" @click="typewriting(1)">开打</el-button>
				<el-button type="primary" @click="typewriting(2)">弃打</el-button>
				<el-button type="primary" id="anew" icon="el-icon-share" circle @click="share()"></el-button>
				<el-button type="primary" id="anew" icon="el-icon-refresh" circle @click="anew()"></el-button>
			</div>

			<!-- 跟打框 -->
			<div class="gdk" :class="[!isShow.isWordHint?'mention':'']" id="gdk">
				<span class="spanText"
					v-for="(item,i) in sendText[isShow.isWordHint?'yesHint':'noHint'].slice(startStrLength,startStrLength+onePageSize)"
					:key="i" :id="'gd_'+(startStrLength+i)" :class="[item.hasOwnProperty('ys')?item.ys:'']" :style="[
						{fontWeight:item.length===4 && isShow.isWordHint?'800':'100'},
						{color:item.length===4?'#cb1798':''},
						{fontSize:item.length===4 && isShow.isWordHint?'smaller':''},
						{fontStyle: item.length>4 && isShow.isWordHint?'italic':''},
						{marginLeft:item.hasOwnProperty('ys') && i!==0 && item.Index !== sendText[isShow.isWordHint?'yesHint':'noHint'][item.i_-1].Index?'1px':'0px'}
						]">
					{{item.val}}
					<font style="font-style:normal;font-variant: initial;" v-if="
					 (item.hasOwnProperty('option') && i !== 0 && item.Index !== sendText[isShow.isWordHint?'yesHint':'noHint'][item.i_-1].Index)
							|| (item.i_===0 && item.hasOwnProperty('option'))
					">{{item.option}}</font>
				</span>
			</div>
			<!-- 右边设置的弹出框 -->
			<el-drawer class="gdq-drawer" :show-close="false" :visible.sync="isShow.rigDrawer" direction="rtl"
				style="transition: all 0s ease 0s;overflow: auto">
				<el-button type="primary" id="anew" icon="el-icon-refresh" circle @click="window.location.reload()" style="position: absolute;right: 10px;top: 10px;"></el-button>
				<div class="head-box">
					<el-avatar  :src="avatarAddress"></el-avatar>
					<div class="jz">
						<el-link type="primary" class="login-text" @click="regLoginDialog=true"
							v-if="userInfo.userId===''">注册/登陆..</el-link>
						<el-link type="primary" class="login-text" @click="logout()" v-if="userInfo.userId!==''">
							{{userInfo.userName}}</el-link>
							<el-link type="danger" style="margin-left:3px" class="login-text" @click="isShow.isBindQQ=true" v-if="userInfo.qq==='' || userInfo.qq===null ">
								绑定QQ</el-link>
					</div>
				</div>
				<div class="jz word-box">
					<el-tag type="success" style="width: 100%;" @click="isShow.isSign=true">
						{{this.userInfo.sign}}
					</el-tag>
				</div>
				<div class="jz word-box">
					<el-button type="primary" id="anew" icon="el-icon-s-data" circle @click="isShow.isWordAnalysis=true">
					</el-button>
					<el-select v-model="userInfo.currentWordId" @change="wordUpdate" no-data-text="无词库数据.."
						placeholder="选择词库" style="margin:0px 10px">
						<el-option v-for="item in wordOptions" :key="item.id" :label="item.preceptName"
							:value="item.id">
						</el-option>
					</el-select>
					<el-button type="primary" id="anew" icon="el-icon-refresh-right" circle @click="readWordList">
					</el-button>
				</div>
				<div class="jz readTextWay">
					<span class="title">读文方式:</span>
					<el-radio v-model="isReadTextWay" label="1">自动</el-radio>
					<el-radio v-model="isReadTextWay" label="2">手动</el-radio>
				</div>
				<div class="jz readTextWay" style="justify-content: space-between;">
					<el-color-picker v-model="pageStyle.top" show-alpha></el-color-picker>
					<el-color-picker v-model="pageStyle.bottom" show-alpha></el-color-picker>
				</div>
				<!-- <el-slider v-model="pageStyle.backOption" style="padding: 0px 10px;" :show-tooltip="false"></el-slider> -->
			</el-drawer>
			<!-- 词提分析的dialog -->
			<el-dialog class="u-dialog" title="词提分析" :visible.sync="isShow.isWordAnalysis" width="70%" center
				style="transition: all 0s;">
				<el-collapse  >
					<el-collapse-item v-for="(item,i) in Object.keys(wordAnalysisJson)" :key="i" :title="item+'　　　'+Object.keys(wordAnalysisJson[item]).length+'个'" :name="i">
						<el-tag v-for="(it2,ii) in wordAnalysisJson[item]" :key="ii" style="margin:3px;">{{it2}}</el-tag>
					</el-collapse-item>
				</el-collapse>
			</el-dialog>
			<!-- 绑定QQ的dialog -->
			<el-dialog class="u-dialog" title="我表妹要你你扣扣" :visible.sync="isShow.isBindQQ" width="70%" center
				style="transition: all 0s;">
				<el-input class="e-ipt" @blur="loginIptBlur(1)" @focus="loginIptBlur(2)" maxlength="20"
					v-model="bindQQStr" placeholder="QQ号"></el-input>
					<el-button type="primary" class="gdq-btn" style="width: 73px;margin-top:10px" @click="bindQQ()">确定</el-button>
			</el-dialog>

			<!-- 设置个签的dialog -->
			<el-dialog class="u-dialog" title="个签,有趣的灵魂" :visible.sync="isShow.isSign" width="70%" center
				style="transition: all 0s;">
				<el-input class="e-ipt" @blur="loginIptBlur(1)" @focus="loginIptBlur(2)" maxlength="30"
					v-model="signStr" placeholder="个签内容"></el-input>
					<el-button type="primary" class="gdq-btn" style="width: 73px;margin-top:10px" @click="signSave()">确定</el-button>
			</el-dialog>

			<!-- 注册登录的dialog -->
			<el-dialog class="u-dialog" title="注册登录..." :visible.sync="regLoginDialog" width="70%" center
				style="transition: all 0s;">
				<el-input class="e-ipt" @blur="loginIptBlur(1)" @focus="loginIptBlur(2)" maxlength="20"
					v-model="regLoginForm.username" placeholder="用户名"></el-input>
				<el-input class="e-ipt" @blur="loginIptBlur(1)" @focus="loginIptBlur(2)" maxlength="20" 
					v-model="regLoginForm.password" placeholder="密码">
				</el-input>
				<el-button type="primary" plain   class="gdq-btn" @click="regLogin">
					注册并登录</el-button>
				<el-button type="primary" style="margin-left:0px;" plain class="gdq-btn" @click="login">
					纯天然登录</el-button>
			</el-dialog>

			<!-- 输入框，用来测试用 -->
			<!-- @blur="isBlur=false"
			@focus="isBlur=true" -->
			<!-- <div class="srk" style="position: absolute;bottom: 0px;">
				<textarea autosize v-model="textarea" id="textarea"></textarea>
			</div> -->
		</div>
	</div>
	<script src="./js/util.js"></script>
	<script src="./js/axios.min.js"></script>
	<script src="./element-ui/vue@2.6.11.js"></script>
	<script src="./element-ui/index.js"></script>
	<script src="./js/index.js"></script>
</body>

</html>
